<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head" >
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content="세상에 하나뿐인 나만의 특별한 SHOP, Billione"/>
    <meta name="author" content="ChanHee"/>
    <title>Billione, 세상에 하나뿐인 나만의 SHOP</title>
    <!-- basic favicon -->

    <!-- icons -->

    <!-- Core theme CSS (includes CSS)-->
    <link th:href="@{/css/customer/reset.css}" rel="stylesheet"/>
    <link th:href="@{/css/customer/common.css}" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>

    <!-- ajax -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.1/handlebars.js"></script>
    <!-- jQuery 3.1.1 -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>


</html>