<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<!-- head -->
<th:block th:replace="~{/customer/fragments/common/head :: head}"></th:block>
<!-- page css -->
<link th:href="@{/css/customer/page/product-detail.css}" rel="stylesheet"/>
<!-- page js -->
<script th:src="@{/js/dropdown.js}" defer></script>

</head>

<body>
<!-- header -->
<th:block th:replace="~{/customer/fragments/common/header :: header}"></th:block>

<div class="contents">

    <div class="container artc my-2">
        <div class="inner flex justify-space-between direction-column">
            <div id="detail-top" >
                <th:block th:replace="~{/customer/fragments/product-detail/detail-top :: detail-top}"></th:block>
            </div>  <!-- / detail-top -->

            <div id="detail-mid" >
                <th:block th:replace="~{/customer/fragments/product-detail/detail-mid :: detail-mid}"></th:block>
            </div>  <!-- / detail-mid -->

        </div> <!-- /inner -->
    </div> <!-- /container -->


</div> <!-- /contents -->

<div id="footer">
    <th:block th:replace="~{/customer/fragments/common/footer :: footer}"></th:block>
</div><!-- /#footer -->

<script>
</script>
</body>
</html>